body{
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
    width: 100vh;
}

.container{
    display: flex;
    justify-content: space-between;
}

.elementos{
    display: flex;
    align-items: center;
    height: 400px;
}